@using Rosa_Bella.Services
@{
    ViewData["Title"] = "Home Page";
    var c="active";
}
@model IEnumerable<ImagesSlideShow>

<link rel="stylesheet" href="~/css/HomeStyle.css" asp-append-version="true" />


<div class="slide ">

<div id="main-slider" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Count(); i++)
            {
                     if (i == 0)
                     {
                         <li  data-bs-target="#main-slider" data-bs-slide-to="@i" class="active"></li>
                     }
                    else
                    {
                         <li  data-bs-target="#main-slider" data-bs-slide-to="@i"></li>
                    }
            }
        </ol>

  <div class="carousel-inner">
            <h1>Welcome In  <span> Rosa Bella </span><br />
                <a href="/Product/Display" class=" btn btn-light shop">Shop Now </a>
            </h1>
            <div class="overlay"> </div>
                @foreach (var imge in Model)
                { 
                   <div class="carousel-item @c" style="background-image: url('..@imge.Images');">
                       @if (Authentication.IsAdmin())
                       {
                        <div class="carousel-caption d-md-block">
                            <a href="/ImagesSlideShow/Delete_imgshow/@imge.Id" class="btn btn-danger"> Delete </a>
                            <a href="/ImagesSlideShow/add_imgShow" class=" btn btn-primary">Add Image in slide show</a>
                        </div>
                      }
                </div>
                 c="";
        }
   </div>
        <!--
    <div class="carousel-item slide-1 active w-100">
    </div>
    <div class="carousel-item slide-2">
    </div>
    <div class="carousel-item slide-3">
    </div>
    -->
  <button class="carousel-control-prev" type="button" data-bs-target="#main-slider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#main-slider" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>

@*
    <div class="m-5">
<a href="/ImagesSlideShow/add_imgShow" class=" btn btn-primary">Add Image in slide show</a>
</div>

    <div id="slide" class="carousel slide container w-50 h-75" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Count(); i++)
            {
                     if (i == 0)
                     {
                         <li  data-bs-target="#slide" data-bs-slide-to="@i" class="active"></li>
                     }
                    else
                    {
                         <li  data-bs-target="#slide" data-bs-slide-to="@i"></li>
                    }
            }
        </ol>

            <!--
            <li  data-bs-target="#slide" data-bs-slide-to="0" class="active" ></li>
            <li  data-bs-target="#slide" data-bs-slide-to="1"  ></li>
            <li  data-bs-target="#slide" data-bs-slide-to="2"  ></li>
            -->

        <!--style="height:600px;"-->
  <div class="carousel-inner">
      @{
          var c="active";
       }
                @foreach (var imge in Model)
                { 
                   <div class="carousel-item @c"> 
                    <img src="@imge.Images" style="height:600px;" class="d-block w-100 h-100" alt="no img">
                    <div class="carousel-caption d-md-block">
                        <a href="/ImagesSlideShow/Delete_imgshow/@imge.Id" class="btn btn-secondary"> Delete </a>
                    </div>
               </div>
                 c="";
        }
            <!--
            <div class="carousel-item">
            <img src="/Images/slide-2.jpg"  class="d-block w-100 h-100" alt="...">
            <div class="carousel-caption d-md-block">
            <a href="#" class="btn btn-secondary"> Delete </a>
            </div>
            </div>
            <div class="carousel-item">
            <img src="/Images/slide-3.jpg"  class="d-block w-100 h-100" alt="...">
            <div class="carousel-caption d-md-block">
            <a href="#" class="btn btn-secondary"> Delete </a>
            </div>
            </div>
            -->
  </div>


        <a href="#slide" class="carousel-control-prev"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" ></span>
        </a>
        <a href="#slide" class="carousel-control-next"  data-bs-slide="next">
            <span class="carousel-control-next-icon" ></span>
        </a>

    </div>
*@

